<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> brinqudos-infantis </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://photos.enjoei.com.br/figure-pikachu-pokemon-boneco-brinquedos-83342098/800x800/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yMzk2NTY0OS9iYjA0OWQ4ODY1ZGI4MTM4MWFjZjhjMTY3MzFjYTIyMy5qcGc" />
      </ion-thumbnail>
      <ion-label>
        <h2> Brinquedos - Pikachu</h2>
        <p>R$15 - Pokemon</p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://lzd-img-global.slatic.net/g/p/0e02b24681061c6027cceb15993a4ba3.jpg_720x720q80.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2> Brinquedos - Dragon</h2>
        <p>R$15 - Bakugan</p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://p.turbosquid.com/ts-thumb/Xs/zVf8WU/Gy/tbcover/png/1668199574/600x600/fit_q87/f4b60f5f33d9b51ebf04ca2f251eaa036df873e0/tbcover.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2> Brinquedos - Omnitrix</h2>
        <p>R$15 - Ben10</p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
