<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title>Escudos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://srv.latostadora.com/designall.dll/scutum_romano--i:1413855663891413851;d:566389;w:240;b:000000;m:1.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Sctum</h2>
        <p>escudo grande de corpo de formato retangular</p>
      </ion-label>
      <ion-badge color="dark">R$ 270,00</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="" />
      </ion-thumbnail>
      <ion-label>
        <h2></h2>
        <p></p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="" />
      </ion-thumbnail>
      <ion-label>
        <h2></h2>
        <p></p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
