<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title>promocoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item *ngFor="let produto of listaProdutos">
  <ion-label>
    <h2>{{ produto.nome }}</h2>
    <p>{{ produto.descricao }}</p>
  </ion-label>
  <ion-badge color="dark">R$ {{ produto.valor }},00</ion-badge>
  <ion-button expand="block" slot="end" color="dark">
    <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
  </ion-button>
 </ion-item>
</ion-content>
