<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>promocoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="true" placeholder="Buscar Produto"></ion-searchbar>


  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://photos.enjoei.com.br/figure-pikachu-pokemon-boneco-brinquedos-83342098/800x800/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yMzk2NTY0OS9iYjA0OWQ4ODY1ZGI4MTM4MWFjZjhjMTY3MzFjYTIyMy5qcGc" />
      </ion-thumbnail>
      <ion-label>
        <h2> Brinquedos - Pokemon</h2>
        <p>15cm - longo</p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>   
</ion-content>
