<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title>Arcos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/41e9Jjm1DVL._AC_UF1000,1000_QL80_.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Mongol</h2>
        <p>grande com uma curva semelhante a um 'M' curvado</p>
      </ion-label>
      <ion-badge color="dark">R$ 110,00</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="" />
      </ion-thumbnail>
      <ion-label>
        <h2></h2>
        <p></p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="" />
      </ion-thumbnail>
      <ion-label>
        <h2></h2>
        <p></p>
      </ion-label>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
